<p id="notice"><%= notice %></p>

<p>Category: <%= @expense.expense_category.name %></p>
<p>Description: <%= @expense.description %></p>
<p>Amount: <%= @expense.amount %></p>
<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
